// Variable Overrides

// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";

.nav-link:hover {
    text-decoration: underline;
}

.jumbotron {
    margin-bottom: 1rem;
    background: url(../media/pirate-ship.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Gloria Hallelujah';
}

h2 {
    font-family: 'Gloria Hallelujah';
    color: darkgreen;
    text-align: center;
}

p {
    font-family: 'Open Sans';
    font-size:  16px;
}

.lead {
    font-size: 15px;
}

.col-lg-8 {
    border-left: solid 2px lightgrey;
}
 footer {
     text-align: center;
     margin-top: 8rem;
     margin-bottom: 3rem;
     background-color: teal;
     color: white;
 }

 .card-title {
    font-family: 'Gloria Hallelujah';
    color: darkgreen;
    margin-top: 15px;
    font-size: 35px;
 }

 .card-text {
     font-family: 'Gloria Hallelujah';
 }

 .card-link {
    font-family: 'Gloria Hallelujah'; 
 }