// Variable Overrides

// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";

.nav-link:hover {
    text-decoration: underline;
}

.jumbotron {
    margin-bottom: 1rem;
    background: url(../media/pirate-ship.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Gloria Hallelujah';
}

h2 {
    font-family: 'Gloria Hallelujah';
    color: darkgreen;
}

p {
    font-family: 'Open Sans';
    font-size:  16px;
}

.lead {
    font-size: 15px;
}


